@page "/"
@using TaskOrganizer.AppServer.Services
@using TaskOrganizer.Shared
@using TaskOrganizer.AppServer.Components.TaskBoard

<PageTitle>Index</PageTitle>

<div class="container-fluid">
    <TaskBoardContainerComponent />
</div>

@code {

}
