@using TaskOrganizer.AppServer.Components
@inherits LayoutComponentBase

<PageTitle>TaskOrganizer.AppServer</PageTitle>

<div class="page">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
