@using TaskOrganizer.AppServer.DragDrop
@using TaskOrganizer.AppServer.Services
@using TaskOrganizer.Shared
@using TaskOrganizer.AppServer.Shared
@inject ITaskBoardService TaskBoardService;

@if (TaskBoards.Count == 0)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="col shadow mb-4 tm-bg-accent p-2 rounded-2">
        <div class="row ">
            <div class="col-auto">
                <img src="/resources/tm-logo.svg" alt="Task Manager" />
            </div>

            <div class="col-auto align-self-center">
                <NewTaskBoardComponent OnCreated="AddTaskBoard" />
            </div>

            <div class="col align-self-center">
                <SearchComponent />
            </div>
        </div>

    </div>

    <div class="row mb-4">
        @foreach (var board in TaskBoards)
        {
            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <TaskBoardComponent TaskBoard="@board" OnDeleted="RemoveTaskBoard" />

            </div>
        }
    </div>
}

@code {

    private List<TaskBoardDto> TaskBoards { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        TaskBoards = await TaskBoardService.GetTaskBoardsAsync();
    }

    private void AddTaskBoard(TaskBoardDto taskBoard)
    {
        TaskBoards.Add(taskBoard);
    }

    private void RemoveTaskBoard(int id)
    {
        var board = TaskBoards.FirstOrDefault(x => x.Id == id);

        if (board is null)
            return;

        TaskBoards.Remove(board);
    }

}